.top_cell {
    background-color: #657b83;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    color: #fdf6e3;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
    text-align: left;
    vertical-align: top;
    word-break: normal;
}
.bottom_cell {
    background-color: #fdf6e3;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    color: #002b36;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px;
    text-align: left;
    vertical-align: top;
    word-break: normal;
 }
.table {
    border-collapse: collapse;
    border-color: #93a1a1;
    border-spacing: 0;
}
/* unvisited link 
a:link {
    color: red;
  }*/
  
  /* visited link 
  a:visited {
    color: rgb(22, 7, 245);
  }*/
  
  /* mouse over link 
  a:hover {
    color: hotpink;
  }*/
  
  /* selected link 
  a:active {
    color: blue;
  }*/
  .container {
    margin: 30px;
    width: 67%;
    border: 1px dashed lightgray;
    margin-top: 90px;
    padding: 20px;
    padding-left: 40px;
}
body {
    font-family: 'Roboto', sans-serif;
}
#isset_env {
    position: absolute;
    margin-top: -23px;
    margin-left: 40px;
}
tr:hover {
  background-color: lightblue;
}

/*Start: for http://domain_name/tabwc/{{id}}/edit */
table .p0 {
  padding: 0px;
}
.textarea_clean {background-color: rgb(253, 246, 227); border: 0px; 
  display: block;
  width: 100%; 
  margin: 0px; 
  padding: 10px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.input_clean {
  width: 100%; 
  background-color: #657b83; 
  border: 0; 
  color: #fdf6e3; 
  font-weight: bold; 
  padding: 10px;
}
.input_name {
  max-height: 34px;
}
.blck {
  color: black;
}
.nm_cll_stl {
  max-height: 34px; 
  min-height: 34px;
}
.div_wth_btn {
  height: 38px;
}
.bttn_strt_mdl_wndw {
float: right;
}
.bttn_strt_mdl_wndw_updt {
margin-right: 10px;
}
/*End: for http://domain_name/tabwc/{{id}}/edit */