.top_cell {
    background-color: #657b83;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    color: #fdf6e3;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
    text-align: left;
    vertical-align: top;
    word-break: normal;
    }
    .bottom_cell {
    background-color: #fdf6e3;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    color: #002b36;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px;
    text-align: left;
    vertical-align: top;
    word-break: normal;
    }
    .table {
    border-collapse: collapse;
    border-color: #93a1a1;
    border-spacing: 0;
    }